*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 100px;
    overflow: hidden;
    position: fixed;
    background-color:rgba(0,0,0,.9);
    z-index: 10;
    top: 0;


}
.mainnav{
	width: 100%;

	height: 100px;
    color: cornsilk;
    position: fixed;
    background-color:rgba(0,0,0,1);
    z-index: 1000;
    top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	/* text-transform: uppercase; */
	font-size: 20px;

}
.subnav{

    background-color:rgba(0,0,0,.9);
    z-index: 1000;
 

}
 
.container{
	max-width: 120rem;
	width: 90%;
    
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;

	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

links{
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* text-transform: uppercase; */
	font-size: 20px;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: yellowgreen;
}

links ul{
	display: flex;
}

links ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

links ul li:nth-child(1){
	animation-delay: 0s;
}

links ul li:nth-child(2){
	animation-delay: .5s;
}

links ul li:nth-child(3){
	animation-delay: .9s;
}

links ul li:nth-child(4){
	animation-delay: 1.2s;
}
links ul li:nth-child(5){
	animation-delay: 1.5s;
}

links ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

links ul li a:last-child{
	margin-right: 0;
}

links ul li a::before,
links ul li a::after{
	 content: ''; 
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: yellowgreen;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

links ul li a::before{
	top: 0;
	transform-origin: left;
}

 links ul li a::after{
	bottom: 0;
	transform-origin: right;
} 

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

links ul li a:hover::before,
links ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

/* @media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
} */