<video autoplay muted loop id="myVideo" >
  <source src="assets/videos/aboutme3.mp4" type="video/mp4">

</video>

<div class="row" style="margin: 0;">

  <div class="col-lg-6 col-sm-12 col-md-12">


 
 





  </div>


  <div class="bodd row col-lg-6 col-sm-12 col-md-12" >


      <a href="#" class="photo">
        <div class="Nom" title="Guitoun Youcef" style="padding: auto; left: 20%; letter-spacing: 2px;">Guitoun Youcef</div>

        <img src="assets/images/youcef.jpg" style="border-radius: 50%; opacity: 0.8; " />
        <div class="glow-wrap">
          <i class="glow"></i>
        </div>
      </a>

      <div class="about">
        <p   style="padding: auto;  font-size: calc(18px + 1vw); position: relative; top: 100%;">
          I am a computer engineer, and software developer, I have programming experience of 16 years with different technologies
        </p>
        </div> 

  </div>