.checked {
  color: orange;
}

.image1 {
  position: static;
  width: 50%;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.disable_ripple:hover{
  background-color: aqua;
  }

@media only screen and (max-width: 992px) {
  .colon{
    position: absolute;

  }
}  

.collapse-active {

  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapse-active:after {
  content: '\002B';
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 35%;
  right: 15px;
  font-weight: bold;
  width: 35px;
  float: right;
}


.collapse-nonactve {

  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapse-nonactve:after {
  content: '\2212';
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 35%;
  right: 15px;
  font-weight: bold;
  width: 35px;
  float: right;
}

.collapsible:active{
  content: "\2212";
}

.selected {
  background-color: rgb(4, 26, 36)!important;
  color:white;
  font-weight: bold;
  
}
.video
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.8;
}

//******************************************************************

.card{
  flex: 2;
  flex-basis: 300px;
  flex-grow: 0;
  height: 300px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  position: relative;
}

.card img{
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.card:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card h1{
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.card p{
  line-height: 24px;
  height:auto;
}
.card button{
  margin-right: 5px;
  margin-bottom: 5px;
  width: fit-content;
  height: 30px;
  cursor: pointer;
  border-style: none;
 
  color:#fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
}
/* .card button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
} */

///-------------------------------------------------------------

.bodP {
 
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  h1 {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;

    font-family: 'Teko', sans-serif;
    font-size: calc(36px + 4vw);
    font-weight: 900;
  
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }

  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #47cad3;
    }
    to {
      text-shadow: 0 0 15px #3b9dee, 0 0 7px #bbf5dd;
    }
  }
}
