.checked {
    color: orange;
  }
  .image1 {
    position: fixed;
    width: 100vh;
  }

  .skills{
   padding: 5%;
  }

  @media only screen and (max-width: 992px) {
    .image1 {
      position: static;
      width: 100%;
    }
  }  

  .collapse-active {

    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .collapse-active:after {
    content: '\002B';
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 35%;
    right: 15px;
    font-weight: bold;
    width: 35px;
    float: right;
  }

  
  .collapse-nonactve {

    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .collapse-nonactve:after {
    content: '\2212';
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 35%;
    right: 15px;
    font-weight: bold;
    width: 35px;
    float: right;
  }

  .collapsible:active{
    content: "\2212";
  }

  .selected {
    background-color: greenyellow!important;
    
  }
  
  .video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }