<video id="myVideo" src="assets/videos/projects3.mp4" style="margin: 0;  display: flex; z-index: -10; position: fixed;
left: 0; top: 0px; display: flex;    " muted loop autoplay></video>

<div class="descriptions"
    style="padding: 120px 5% 20px 5%; width: 85%; margin: auto; height: 100vh; height: auto; background-color: rgba(250,250,250,.9)"
    [@listAnimation]="projectDetail.Technological.length">

    <h5></h5>
    <span class="title">Project Name : </span> <span> </span> <span class="description">{{projectDetail.Name}}
       </span> <br>
    <span class="title">Period : </span> <span> </span> <span class="description">{{projectDetail.period}}</span> <br>
    <span class="title">Company : </span> <span> </span> <span class="description">{{projectDetail.company}}</span> <br>    
    <span class="title">Effort : </span> <span> </span> <span class="description">{{projectDetail.Effort}}</span> <br>

    <span class="title">Description : </span> <span> </span>
    <p class="description">
        {{projectDetail.description}}
    </p>
    <a [href]="projectDetail.link" target="_blank" *ngIf="projectDetail.link!='none'">Source Code</a> <br> <br>

    <span class="title" >Technological environment</span> <br> 
    <br>

    <button type="button" class="btn btn-dark" *ngFor="let i of projectDetail.Technological"
        style="margin: 5px;">{{i}}</button>
        <br>
        <br>
    <span class="title" >Some images</span> 
    <br>

    <img class="iamge-fluid" [src]="image" *ngFor="let image of projectDetail.imageLink"
        style="width: 95%; height: 40%; margin: 2%;">

</div>