.checked {
    color: orange;
  }

  .image1 {
    position: static;
    width: 50%;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  .disable_ripple:hover{
    background-color: aqua;
    }

  @media only screen and (max-width: 992px) {
    .colon{
      position: absolute;
 
    }
  }  

  .collapse-active {

    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .collapse-active:after {
    content: '\002B';
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 35%;
    right: 15px;
    font-weight: bold;
    width: 35px;
    float: right;
  }

  
  .collapse-nonactve {

    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .collapse-nonactve:after {
    content: '\2212';
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 35%;
    right: 15px;
    font-weight: bold;
    width: 35px;
    float: right;
  }

  .collapsible:active{
    content: "\2212";
  }

  .selected {
    background-color: rgb(4, 26, 36)!important;
    color:white;
    font-weight: bold;
    
  }
  .video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

//******************************************************************

.skill-card {


 // transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  width: 15em;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill-card:hover .skill-card__header {
  height: 40px;
}
.skill-card:hover .skill-card__header .skill-card__icon {
  transform: translateX(-50%) translateY(-50%) scale(3);
}
.skill-card:hover .skill-card__body {
  height: 185px;
}
.skill-card:hover .skill-card__body .skill-card__knowledge div {
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge div {
  transition-delay: 0.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
  transition-delay: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
  transition-delay: 0.75s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
  transition-delay: 1s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
  transition-delay: 1.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
  transition-delay: 1.5s;
}
.skill-card .skill-card__header {
  position: relative;
//  background-color: #eb6c3f;
  height: 170px;
  margin: -20px -20px 20px -20px;
  transition: height 0.5s;
  overflow: hidden;
  background-color: 50%;

  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 10px 10px 20px rgba(0, 0, 0, 0.43);
 
}
.skill-card .skill-card__header .skill-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 128px;
  height: 128px;
  transition: transform 0.5s;
}
.skill-card .skill-card__body {
  height: 55px;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
  font-size: 1.3em;
  font-weight: 600;

}
.skill-card .skill-card__body .skill-card__duration {
  color: #9E9E9E;
  font-style: italic;
}
.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  color: #424242;

  text-justify: auto;
}
.skill-card .skill-card__body .skill-card__knowledge div {
  margin-top: 5px;
  transition-duration: 0;
  transition-delay: 0.5s;
  transform: translateX(-100%);

}


//****************************************************************
.wrapper {
  width: 90%;
	max-width: 900px;
	margin: 3em auto;
	text-align: center;
}

/* Badge */
.badge {
	margin: auto;
	width: 6.4em;
	height: 6.4em;
	border-radius: 20%;

	top: 0;
	transition: all 0.2s ease;
  box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
}

.rounded {
  width: 70%;
	height: 70%;
  background: white;
  position: absolute;
  margin: 15px 16px auto;
  z-index: 10;
	border-radius: 30%;
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
  
  i.fab {
    font-size: 7em;
		margin:5%;
  }
}

/* Colors */
.blue {
    background: dodgerblue;
    color: rgb(4, 121, 160);
}

.bluepascal{
  background: rgb(43, 43, 248);
}

.bluec{
  background: darkslateblue;

}

.orange {
  background: darkorange;
  color: orange;
}

.gold {
  background: gold;
  color: rgb(209, 179, 7);
}

.red {
  background: red;
  color: red;
}

.redrad {
  background: rgb(250, 40, 40);
  color: red;
}

.purple {
  background: rgb(80, 47, 151);
  color: rgb(105, 70, 177);
  background-color: rgb(105, 70, 177);;
}

.green {
  background: yellowgreen;
  color: darkslategray;
}

.crimson {
  background: crimson;
  color: firebrick;
}

.steel {
  background: steelblue;
  color: gold;
}

.pink {
  background: hotpink;
  color: palevioletred;
}

.rebecca {
  background: rebeccapurple;
  color: rebeccapurple;
}

.gainsboro {
  background: gainsboro;
  color: orangered;
}
.gray{
  background: rgb(41, 42, 51);
  color: rgb(41, 42, 51);
}

.grayblue{
  background: rgb(22, 51, 90);
  color: rgb(41, 42, 51);
}
* { box-sizing: border-box; }



//***************************************************************

.bod {
 
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  h1 {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;

    font-family: 'Teko', sans-serif;
    font-size: calc(36px + 4vw);
    font-weight: 900;
  
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
 
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #d3d147;
    }
    to {
      text-shadow: 0 0 15px #a0ee3b, 0 0 7px #f5e5bb;
    }
  }
}
