<video id="myVideo" src="assets/videos/contact us.mp4" style="margin: 0;  display: flex; z-index: -10; position: fixed;
left: 0; top: 0px; display: flex;    " muted loop autoplay></video>



<div class="row" [@listAnimation]="skills.length" style="margin: 0;">

    <div class="col-lg-6 col-sm-12 col-md-12">




        <!--         <img src="assets/images/projects.jpg" [style.position]="image1position" class="img-fluid image1" alt="" style="height: 100vh;
              left: 0; top: 0px;   filter: grayscale(0%);   "> -->

    </div>




    <div class="bod row col-lg-6 col-sm-12 col-md-12" style="top: 0px; height: 100vh; position: relative; ">

        <div class="card">
            <div class="card-back">
              <div class="col-lg-4">

              </div>
              <div class="col-lg-8">

              </div>
            </div>
            <div class="card-front">
            </div>
        </div>

        
        <div class="card">
            <div class="card-back">

            </div>
            <div class="card-front">
            </div>
        </div>

        
        <div class="card">
            <div class="card-back">

            </div>
            <div class="card-front">
            </div>
        </div>
    </div>



</div>


