
  
  .video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }


/* ****************************************************** */

$blue: #29b6f6;
$green: #9ccc65;
$purple: #BA68C8;
$yellow: #FDD835;
$orange: #f57c00;
$red: #ef5350;
$cyan: #4dd0e1;
$pink: #E91E63;
$black-dark: #101010;
$black-light: #2c3e50;
$bg1: #E91E63;
$bg2: #9C27B0;
$white: whitesmoke;


.bod {



  place-items: center;
 
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-family: sans-serif;

  padding: 120px 20px 100px 20px ;  
   height: auto;

position: relative;
	width: 100%;

	background:rgba(black, 0.4)

    
}  

//////////////////////////////////////////////


// Colors


$monospace: Consolas, "Lucida Console",  monospace;

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}




.card {
	position: relative;
	width: 100%;
	height: 20%;
	min-height: 150px;
	padding: 5px;
	margin: 5px;
	perspective: 150rem;
  background-color: transparent;
  border: none;

  
	&-front,
	&-back {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 5px;
		box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
		transition: 0.9s cubic-bezier(.25,.8,.25,1);
		transform-origin: left center;
		backface-visibility: hidden;
		overflow: hidden;
		&:before,
		&:after {
			position: absolute;
		}
		&:before {
			top: -40px;
			right: -40px;
			content: '';
			width: 80px;
			height: 80px;
			background-color: rgba(rgb(212, 201, 201),0.08);
			transform: rotate(45deg);
			z-index: 1;
		}
		&:after {
			content: '+';
			top: 0;
			right: 10px;
			font-size: 24px;
			transform: rotate(45deg);
			z-index: 2;
		}
	}
	&-front {
		width: 100%;
		height: 100%;
		background: linear-gradient(45deg, $black-dark, $black-light);
		&:after {
			color: darken($black-light,6%);
		}
	}
	&-back {
		background: linear-gradient(-45deg, $black-dark, $black-light);
		transform: rotateX(180deg);
		&:after {
			color: darken($black-light,15%);
		}
	}
	
	
	&:hover &-front {
		transform: rotateX(-180deg);
	}
	&:hover &-back {
		transform: rotateX(0deg);
		z-index: 2 !important;
	}
	.mmb {

		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 70%;
		height: 100%;
		margin: 0;
		padding: 0 10px;
		background-color: rgba(white,0.03);
		font-size: 13px;
		//line-height: 2.15;
		> div {
			padding: 1px 0; 
			opacity: 0.15;
		}
	}
	code {
		color: $white;
	}
	.indent {
		padding-left: 30px;
	}
	.operator {
		color: $cyan;
	}
	.string {
		color: $green;
	}
	.variable {
		color: $purple;
	}
	.property {
		color: $red;
	}
	.method {
		color: $blue;
	}
	.function {
		color: $yellow;
	}
	.boolean {
		color: $cyan;
	}
}
//*********************************

  /* Badge */
  .badge {
	position: relative;
	
	  width: 128px;
	  height: 128px;
	  border-radius: 20%;
  
	  top: 0;
	  transition: all 0.2s ease;
	box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
  }
  
  .rounded {
	width: 70%;
	  height: 70%;
	background: white;
	position: relative;
	margin:15%;
	z-index: 10;
	
	box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
	
	i.fab {
	  font-size: 7em;
		  margin:3%;
	}
  }
  
  /* Colors */
  .blue {
	  background: dodgerblue;
	  color: rgb(4, 121, 160);
  }
  
  .bluepascal{
	background: rgb(43, 43, 248);
  }
  
  .bluec{
	background: darkslateblue;
  
  }
  
  .orange {
	background: darkorange;
	color: orange;
  }
  
  .gold {
	background: gold;
	color: rgb(209, 179, 7);
  }
  
  .red {
	background: red;
	color: red;
  }
  
  .redrad {
	background: rgb(204, 4, 4);
	color: red;
  }
  
  .purple {
	background: rgb(80, 47, 151);
	color: rgb(105, 70, 177);
	background-color: rgb(105, 70, 177);;
  }
  
  .green {
	background: yellowgreen;
	color: darkslategray;
  }
  
  .crimson {
	background: crimson;
	color: firebrick;
  }
  
  .steel {
	background: steelblue;
	color: gold;
  }
  
  .pink {
	background: hotpink;
	color: palevioletred;
  }
  
  .rebecca {
	background: rebeccapurple;
	color: rebeccapurple;
  }
  
  .gainsboro {
	background: gainsboro;
	color: orangered;
  }
  .gray{
	background: rgb(41, 42, 51);
	color: rgb(41, 42, 51);
  }
  
  .grayblue{
	background: rgb(22, 51, 90);
	color: rgb(41, 42, 51);
  }
 


  //*************************************
 
