<video src="assets/videos/contact us.mp4" style="margin: 0;  display: flex; z-index: -10; position: fixed;
left: 0; top: 0px; display: flex;    " muted loop autoplay></video>
<!-- ------------------------------------------------------------------------------------------------- -->
<div class="row" [@listAnimation]="skills.length" style="margin: 0;">
    <div class="col-lg-6 col-sm-12 col-md-12">

    </div>
    <!-- ------------------------------------------------------------------------------------------------- -->
    <div class="bod row col-lg-6 col-sm-12 col-md-12">
        <!-- card begin -->
        <div class="card " style="padding-bottom: 20px;" fxFlex.gt-lg="60%" fxFlex.lg="70%" fxFlex.md="70%"
            fxFlex.sm="70%" fxFlex.xs="100%">
            <div class="card-back">

                <button
                    onclick="window.open('https:linkedin.com/in/youcef-guitoun-aa2a811b2', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"
                    target="_blank" type="button" class="btn btn-primary" style="font-size: 16px; margin: 10px; ">
                    <span style="text-indent: 20px;"> Guitoun Youcef </span>

                    <i class="fab fa-linkedin-in " style="font-size: 40px; margin-left: 5px;"></i>
                </button>
            </div>
            <div class="card-front">
                <b style=" font-size: 4.7em; color: white; margin-right: 5px;">Linked</b>
                <article class="badge skill-card__icon blue">
                    <div class="rounded">
                        <i class="fab fa-linkedin-in "></i>
                    </div>
                </article>
            </div>
        </div>
        <!-- end card -->
        <!-- card begin -->
        <div class="card " style="padding-bottom: 20px;" fxFlex.gt-lg="60%" fxFlex.lg="70%" fxFlex.md="70%"
            fxFlex.sm="70%" fxFlex.xs="100%">
            <div class="card-back">
                <span class="property" style="font-size: 22px;">guitxyoucef@gmail.com</span>
            </div>
            <div class="card-front">

                <article class="badge skill-card__icon redrad">
                    <div class="rounded">
                        <i class="fab fa-google "></i>
                    </div>
                </article>
                <b style=" font-size: 4.7em; color: white; margin-left: 5px;">mail</b>
            </div>
        </div>
        <!-- end card -->
        <!-- card begin -->
        <div class="card " style="padding-bottom: 20px;" fxFlex.gt-lg="60%" fxFlex.lg="70%" fxFlex.md="70%"
            fxFlex.sm="70%" fxFlex.xs="100%">
            <div class="card-back">
                <h5 style="color: white;">live:.cid.99c22c7030128f6c</h5>

            </div>
            <div class="card-front">

                <article class="badge skill-card__icon blue">
                    <div class="rounded">
                        <i class="fab fa-skype "></i>
                    </div>
                </article>
                <b style=" font-size: 4.7em; color: white; margin-left: 5px;">kype</b>
            </div>
        </div>
        <!-- end card -->
        <!-- card begin -->
        <div class="card " style="padding-bottom: 20px;" fxFlex.gt-lg="60%" fxFlex.lg="70%" fxFlex.md="70%"
            fxFlex.sm="70%" fxFlex.xs="100%">
            <div class="card-back">
                <h5 style="color: white;">+213 0553467790</h5>
            </div>
            <div class="card-front">

                <article class="badge skill-card__icon gold">
                    <div class="rounded">
                        <img class="img-fluid fab " src="assets/images/phone.png">
                    </div>
                </article>
                <b style=" font-size: 4.7em; color: white; margin-left: 5px;">Phone</b>
            </div>
        </div>
        <!-- end card -->

        <!-- card begin -->
        <div class="card " style="padding-bottom: 20px;" fxFlex.gt-lg="60%" fxFlex.lg="70%" fxFlex.md="70%"
            fxFlex.sm="70%" fxFlex.xs="100%">
            <div class="card-back">

                <button
                    onclick="window.open('https://github.com/GuitounYoucef', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"
                    target="_blank" type="button" class="btn btn-dark" style="font-size: 16px; margin: 10px; ">
                    <span style="text-indent: 20px;"> Guitoun Youcef </span>
                    <i class="fab fa-github " style="font-size: 40px; margin-left: 5px;"></i>
                </button>
            </div>
            <div class="card-front">

                <article class="badge skill-card__icon gray">
                    <div class="rounded">
                        <i class="fab fa-github "></i>
                    </div>
                </article>
                <b style=" font-size: 4.7em; color: white; margin-left: 5px;">GitHub</b>
            </div>
        </div>
        <!-- end card -->
    </div>
</div>