<video id="myVideo" src="assets/videos/contact us.mp4" style="margin: 0;  display: flex; z-index: -10; position: fixed;
left: 0; top: 0px; display: flex;    " muted loop autoplay></video>
<div class="skil">


    <div class="row" [@listAnimation]="skills.length" style="margin: 0;">

        <div class="col-lg-6 col-sm-12 col-md-12">




            <!--         <img src="assets/images/projects.jpg" [style.position]="image1position" class="img-fluid image1" alt="" style="height: 100vh;
              left: 0; top: 0px;   filter: grayscale(0%);   "> -->

        </div>




        <div class="container bod col-lg-6 col-sm-12 col-md-12" style="top: 0px;   " [@listAnimation]="x">

            <div class="wrapper">
                <div class="card1">
                    <div class="row">
                        <h1>
                            <span class="enclosed">G</span>mail
                        </h1>
                    </div>
                    <div class="row">
                        <p style="color: black;">guitxyoucef@gmail.com</p>
                    </div>
                </div>

            </div>

            <div class="wrapper">
                <div class="card2">
                    <h1>
                        <span class="enclosed">Link</span>in
                    </h1>
                </div>
            </div>



        </div>


    </div>